# AcadGild_DataScience_Assignment_8

Problem 1:  How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [4]:
#Solution:

# Import pandas module
import pandas as pd
#Create data frame
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#Convert DataFrame 'df' into series object
df_series=df['X']
#Get counter value for available 0 in dataframe 
x=[(df_series.tolist()[i::-1]+[0]).index(0) for i in range(len(df_series.tolist()))]
#Assign value into Data Frame with 'Y' column
df['Y']=x


#Output
print("Output \n")
print("DataFrame Input column values are \n",df['X'].tolist(),"\n")
print("The Counter position for availabvle zero in dataframe column is \n",x,"\n")
print("Output DataFrame \n")
df

Output

DataFrame Input column values are
 [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]

The Counter position for availabvle zero in dataframe column is
 [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

Output DataFrame

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

-------------------------------------------------------------------------------------------------------------------

Problem 2: Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [19]:
#Solution

# import pandas and numpy module

import pandas as pd
import numpy as np

# Cretae Date data for business days of year 2015
datedata= pd.date_range(start='2015-01-01',end='2015-12-31',freq='B')
#create random number based upon date data
randomNum=np.random.rand(len(datedata))
#create Series object form pandas
s= pd.Series(randomNum,index=datedata)
print("Output \n")
print("Few Observation of Series object are \n",s.head(),"\n")
print("Index of Series object are \n",s.index)

Output

Few Observation of Series object are
 2015-01-01    0.158125
2015-01-02    0.576038
2015-01-05    0.042221
2015-01-06    0.330418
2015-01-07    0.618865
Freq: B, dtype: float64

Index of Series object are
 DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

-------------------------------------------------------------------------------------

Problem 3: Find the sum of the values in s for every Wednesday

In [36]:
#Solution
#Get week day information , use head() for fewer information
s[datedata.weekday_name=='Wednesday'].head()
print("Output")
print("Sum of values for Wedensday in s:")
s[datedata.weekday_name=='Wednesday'].sum()

Output
Sum of values for Wedensday in s:

26.641867929263203

-------------------------------------------------------------------------------------------------

Problem 4 : Average For each calendar month

In [35]:
#Solution
# avearge for each month , convention of resample method taken as "end"
s.resample('M',convention='end').mean()

2015-01-31    0.416508
2015-02-28    0.435290
2015-03-31    0.640347
2015-04-30    0.304167
2015-05-31    0.566249
2015-06-30    0.498720
2015-07-31    0.545882
2015-08-31    0.523052
2015-09-30    0.578406
2015-10-31    0.452317
2015-11-30    0.515600
2015-12-31    0.499271
Freq: M, dtype: float64

------------------------------------------------------------------------------------------------------

Problem 5: For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [44]:
#Solution

#duration of consecutive 4 months are , till that highest value recorded 
print("Output")
print("Duration of consecutive 4 months  , till that highest value recorded \n")
print(s.groupby(pd.Grouper(freq='4M')).idxmax(),"\n")
print("Maximum value for the recorde date \n")
print(s[s.groupby(pd.Grouper(freq='4M')).idxmax()])

Output
Duration of consecutive 4 months  , till that highest value recorded

2015-01-31   2015-01-13
2015-05-31   2015-04-22
2015-09-30   2015-06-10
2016-01-31   2015-10-08
dtype: datetime64[ns]

Maximum value for the recorde date

2015-01-13    0.970890
2015-04-22    0.996574
2015-06-10    0.959148
2015-10-08    0.984176
dtype: float64